extends views/layout.pug

include mixins/mixins.pug

block content
    <main class="trainings">
        <div class="container">
            <h2 class="trainings__title page-title">Виды тренировок</h2>
            -let trainings = [{label: 'ЙОГА', text: 'Это комплекс упражнений (асан), как правило, в определенной последовательности'},{label: 'FLY YOGA', text: 'Уникальное направление с использованием гамаков, подвешенных к потолку'}, {label: 'ДЕТСКИЙ ТЕННИС', text: 'Уникальное направление с использованием гамаков, подвешенных к потолку'},{label: 'РАСТЯЖКА', text: 'Растяжка- тренировка включает в себя три грани функционального развития: гибкость, внутренняя сила и координация движений'},{label: 'HOT IRON', text: 'Hot Iron — тренировка с мини штангами. За 60 минут тренировки Вы тратите до 900 калорий'},{label: 'ZUMBA', text: 'ZUMBA – это танцевальная фитнес-тренировка, в основе которой лежат движения из популярных настроения'},{label: 'ПОХУДЕЙКА', text: 'Интенсивная тренировка, включающая силовую и кардионагрузку. Основной упор в занятии'},{label: 'PILATES', text: 'Мягкий формат силового занятия, направленный на формирование мышечного корсета, восстановление осанки и подвижность суставов всего тела'}]
            <div class="trainings__list">
            each training in trainings
                <div class="trainings__item">
                    <h3 class="trainings__item-title">#{training.label}</h3>
                    <p class="trainings__item-text">#{training.text}</p>
                </div>
            </div>
        </div>
    </main>
