mixin logo()
    div(class!=attributes.class + '__logo')
        div(class!=attributes.class + '__logo-img')
           include images/logo.svg
        h3(class!=attributes.class + '__logo-title') Wellness Republic 
