mixin logo()
    div(class!=attributes.class + '__logo')
        div(class!=attributes.class + '__logo-img')
           include images/logo.svg
        h1(class!=attributes.class + '__logo-title') Wellness Republic 
