.account {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    
        &__title{
            font-size: $font-size-30;
            font-weight: $font-weight-500;
            padding-bottom: 24px;
        }
    
        &__link{
            padding-bottom: 30px;
            text-decoration: none;
            text-decoration-color: none;
            font-size: $font-size-24;
            font-weight: $font-weight-500;
            color: $red;
        }
        &__link:hover {
            text-decoration: underline;
        }
        &__link:visited {
            color: $red;
        }
    }
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $gray;
    border-radius: 5px;
    width: 660px;
    height: 612px;
    margin-bottom: 121px;

    &__balance {
        margin: 28px 0px 35px 0px;
    }
}

.balance {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title{
        font-size: $font-size-24;
        font-weight: $font-weight-400;
        padding-bottom: 6px;
    }
    &__count{
        font-size: $font-size-24;
        font-weight: $font-weight-500;
        color: $aqua;
        padding-bottom: 6px;
    }
    &__link {
        font-size: $font-size-14;
        font-weight: $font-weight-300;
        color: $white;
        cursor: pointer;
        text-decoration: underline;
        background: none;
    }
}

.plans {
    display: grid;
    gap: 13px;
    width: 95.76%;

    &__text{
        padding-bottom: 15px;
    }
}

@media (min-width: 960px) {
    .left {
        &__price {
            font-size: $font-size-24;
        }
    }
}

@media (max-width: 960px) {
    .panel {
        width: 620px;
    }
    .account {
        &__hero {
            margin-top: 35px;
            &__title {
                font-size: $font-size-24;
                padding-bottom: 15px;
            }
            &__link {
                font-size: $font-size-18;
                padding-bottom: 35px;
            }
        }
    }
    .left {
        &__price {
            font-size: $font-size-24;
        }
    }
}

@media (max-width: 640px) {
    .panel {
        width: 460px;
    }
    .account {
        &__hero {
            margin-top: 35px;
            &__title {
                padding-bottom: 10px;
                font-size: $font-size-18;
            }
            &__link {
                font-size: $font-size-18;
                padding-bottom: 35px;
            }
        }
    } 
    .balance {
        &__count{
            font-size: $font-size-18;
        }
        &__title{
            font-size: $font-size-18;
        }
    }
    .plans {
        &__text {
            font-size: $font-size-14;
        }
    }
    .right {
        padding-right: 10px;
    }
    .left {
        color: red;
        font-size: 14px;
        &__price {
            font-size: $font-size-24;
        }
    }
}

@media (max-width: 480px) {
    .panel {
        width: 300px;
    }
    .account {
        &__hero {
            margin-top: 35px;
            &__title {
                padding-bottom: 10px;
                font-size: $font-size-18;
            }
            &__link {
                font-size: $font-size-18;
                padding-bottom: 35px;
            }
        }
    } 
    .balance {
        &__count{
            font-size: $font-size-18;
        }
        &__title{
            font-size: $font-size-18;
        }
    }
    .plans {
        &__text {
            font-size: $font-size-14;
        }
    }
    .left {
        &__price {
            font-size: $font-size-18;
        }
    }
}
