.account {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    
        &__title{
            font-size: $font-size-30;
            font-weight: $font-weight-500;
            padding-bottom: 24px;
        }
    
        &__link{
            padding-bottom: 30px;
            text-decoration: none;
            text-decoration-color: none;
            font-size: $font-size-24;
            font-weight: $font-weight-500;
            color: $red;
        }
        &__link:hover {
            text-decoration: underline;
        }
        &__link:visited {
            color: $red;
        }
    }
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $gray;
    border-radius: 5px;
    min-width: 660px;
    min-height: 616px;
    margin-bottom: 121px;

    &__balance {
        margin: 28px 0px 35px 0px;
    }
}

.balance {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title{
        font-size: $font-size-24;
        font-weight: $font-weight-400;
        padding-bottom: 6px;
    }
    &__count{
        font-size: $font-size-24;
        font-weight: $font-weight-500;
        color: $aqua;
        padding-bottom: 6px;
    }
    &__link {
        font-size: $font-size-14;
        font-weight: $font-weight-300;
        color: $white;
        cursor: pointer;
        text-decoration: underline;
        background: none;
    }
}

.plans {
    display: grid;
    gap: 13px;
    width: 95.76%;

    &__text{
        padding-bottom: 15px;
        $descr
    }
}
