html { 
    font-family: "Rubik";
    font-size: 100%;
    color: $white;
}

body { 
    display: flex;
    flex-flow: column nowrap;
    
    header { 
        flex-shrink: 0;
    }
    main {
        background: $main-background;
        flex-grow: 1;
        flex-shrink: 0;
    }
    footer {
        flex-shrink: 0;
    }
}

.container { 
    max-width: 1160px;
    margin: 0 auto;
}