$red: #d73d3d;
$white: #ffffff;
$aqua: #258181;
$green: #17870d;
$lime: #99c939;
$black: #171717;
$gray: #282828;
$lightgray: #808080;
$header-background: #121212;
$main-background: linear-gradient(180deg, #181818 0%, #151515 100%);

$font-size-16: 1rem;
$font-size-24: 1.5rem;

$font-weight-400: 400;
$font-weight-500: 500;

$line-height-19: 1.1875rem;
$line-height-28: 1.75rem;
