extends views/layout.pug

include mixins/mixins.pug

block content
    <main class="coaches">
        <div class="container">
            <div class="coaches__hero">  
                <h1 class="coaches__hero__title">Наши тренеры</h1>
            </div>
            <div class="coaches__panels">
                -let firstCoach = { icon: 'firstCoach', title: 'Инструктор тренажерного зала, персональный тренер', name: 'Галкин Владимир Николаевич', exp: 'тренерский стаж: 10 лет', education: 'Высшее ТГУ, Биологический факультет; Сертификат о прохождении курса «Персональный тренер», Федеральная школа тренеров HLS GO Мастер спорта по пауэрлифтингу 2012 г (ФПР) Мастер спорта России международного класса по пауэрлифтингу 2014 г (WPC) Чемпион и призёр Всероссийский и международных соревнований Подготовил 6 Мастеров спорта и 7 Кандидатов в мастера спорта в различных федерациях по пауэрлифтингу', quote: '«Приходите на тренировки. Вместе мы добьёмся с Вами идеального результата!» Я,Галкин Владимир, ваш персональный тренер, специализируюсь на подготовке к соревнованиям по пауэрлифтингу. Так же занимаюсь снижением/увеличением веса, развитием силовой выносливости. Жду вас у себя на тренировках.'}
                -let secondCoach = { icon: 'secondCoach', title: 'Инструктор групповых программ, персональный тренер', name: 'Александрова Елена Антоновна', exp: 'тренерский стаж: 4 года', education: 'ТГАСУ Институт Кадастра Экономики и Инженерных Систем в Строительстве, направление "Городской кадастр" Диплом о профессиональной переподготовки по программе «инструктор по спорту» в объеме 256 часов ("Сибирский колледж фитнеса"); Сертификат о прохождении курса "Инструктор групповых программ" с 14.05.2019 по 30.08.2019 (Сибирский колледж фитнеса); Диплом о профессиональной переподготовке по программе "Персональный тренер" (ООО "Школа тренеров"); Сертификат об участии в воркшопе "Тазовое дно" (PROFIT) Сертификат о прохождении курса "Общая нутрициология" (Body Coach)', quote: '«Внутренняя мотивация - помощь женщинам, молодым мамам в безопасном и здоровом восстановлении после родов. Иногда, в погоне за идеальным телом, мы попадаем в порочный круг: диета-срыв-диета. Я помогу тебе не только выбраться из этого круга, но и наладить отношения с едой, телом и мыслями.»'}
                +coach(firstCoach.icon, firstCoach.title, firstCoach.name, firstCoach.exp, firstCoach.education, firstCoach.quote)
                +coach(secondCoach.icon, secondCoach.title, secondCoach.name, secondCoach.exp, secondCoach.education, secondCoach.quote)

            </div>
        </div>
    </main>

    