-let menuItems = {auth: 'Виды тренировок', tariff: 'Тарифный план', treners: 'Наши тренеры', accounts:'Мой аккаунт'}

<header class="header">
    <div class="container">
        +logo()(class="header")
        <ul class="header__navigation">
            each val, key in menuItems
             <li class="header__navigation-item">
                a(href= key + '.html' ) #{val}
             </li>
        </ul>
    </div>
</header>
