<header class="header">
    <div class="container">
        <div class="header__logo">
            <div class="header__logo-img">
                include ../../../../public/images/logo.svg
            </div>
            <h1 class="header__logo-title">Wellness Republic</h1>
        </div>
        <ul class="header__navigation">
            <li class="header__navigation-item"><a href="#">Виды тренировок</a></li>
            <li class="header__navigation-item"><a href="#">Тарифный план</a></li>
            <li class="header__navigation-item"><a href="#">Наши тренеры</a></li>
            <li class="header__navigation-item"><a href="#">Мой аккаунт</a></li>
        </ul>
    </div>
</header>
