-let menuItems = {trainings: 'Виды тренировок', tariffs: 'Тарифный план', coaches: 'Наши тренеры', account:'Мой аккаунт'}

<header class="header">
    <div class="container">
        <a href="home.html" class="header__logo-wrapper">
            +logo()(class="header")
        </a>
        <ul class="header__navigation">
            each val, key in menuItems
             <li class="header__navigation-item">
                a(href= key + '.html' ) #{val}
             </li>
        </ul>
        <div class="header__burger">
            <span class="header__burger-span"></span>
            <span class="header__burger-span"></span>
            <span class="header__burger-span"></span>
        </div> 
    </div>
</header>
