.custom-button { 
    border-radius: $border-radius-2-5;
    padding: 12px 34px;
    color: $white;
    text-shadow: $default-text-shadow;
    font-weight: $font-weight-700;
    line-height: $line-height-17;
    font-size: $font-size-14;
    background-color: $red;
    text-transform: uppercase;
}